<div class="outer">
    <div class="card m-3 col-sm-6 col-lg-4 col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h3 class="card-body"><i class="bi bi-person-circle"></i>&nbsp;LOGIN HERE</h3>

            <div class="card-body input-field">
                <label for="username"> Username</label>
                <input formControlName="username" type="text" name="username" id="username" autocomplete="off"
                    [(ngModel)]="loginDetails.Username">
                <i></i>


            </div>
            <small *ngIf="Username.errors?.['required'] && (Username.touched || Username.dirty)"
                class="text-danger">*Username is required</small>
            <small *ngIf="Username.errors?.['minlength'] && (Username.touched || Username.dirty)"
                class="text-danger">*Username is too short</small>
            <small *ngIf="Username.errors?.['email'] && (Username.touched || Username.dirty)"
                class="text-danger">*Username is invalid</small>

            <div class="card-body input-field">
                <label for="password"> Password</label>

                <input formControlName="password" type="password" id="password" autocomplete="off"
                    [(ngModel)]="loginDetails.Password">
                <i></i>

            </div>
            <small *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)"
                class="text-danger">*Password is required</small>
            <small
                *ngIf="Password.errors?.['minlength'] || Password.errors?.['maxlength'] && (Password.touched || Password.dirty)"
                class="text-danger">*Password should be at least 6 and at the max 15 characters long.</small>

            <div class="card-body buttons">

                <button [disabled]="loginForm.invalid" class="btn btn-secondary btn-lg" type="submit">Login
                </button>

            </div>
            <div class="card-body text-center pt-3 signup">
                <p><span>Don't have account?
                        <a id="forget" routerLink="../register">Signup</a>
                    </span>
                    <br>
                    <span>
                        <a id="forget" href=""><i class="bi bi-house-door-fill"></i>&nbsp;Home</a>
                    </span>
                </p>


            </div>

        </form>
    </div>

</div>